// Display Utilities
@each $label, $breakpoint in $breakpoints {
  @media screen and (min-width: $breakpoint) {
    .display#{$label}-none {
      display: none;
    }
    .display#{$label}-inline {
      display: inline;
    }
    .display#{$label}-inline-block {
      display: inline-block;
    }
    .display#{$label}-block {
      display: block;
    }
    .display#{$label}-flex {
      display: flex;
    }
    

    // Bootstrap also includes:
    // - table
    // - table-row
    // - table-cell
    // - inline-flex
    // as well as @media print
    
  }
}

