<h1>Secret App</h1>
<h2>Welcome Home</h2>
<p>You can find everything you'll ever need right here!</p>
<p>
    <a href="/">Home</a>
    <a href="/secret">Secrets</a>
</p>
<p>
    <a href="/register">Register</a>
    <a href="/login">Sign In</a>
    <a href="/logout">Logout</a>
</p>
