<h1>Secret App</h1>
<h2>Sign Up</h2>
<p>If you don't have an account, enter a username and password to start!</p>
<p>
    <a href="/">Home</a>
    <a href="/secret">Secrets</a>
</p>
<p>
    <a href="/register">Register</a>
    <a href="/login">Sign In</a>
    <a href="/logout">Logout</a>
</p>

<form action="/register" method="POST">
    <input type="text" name="username" id="user-input" placeholder="GillBates1970" required />
    <input type="password" name="password" id="pass-input" placeholder="●●●●●●●●" required />
    <input type="submit" value="Sign up!">
</form>