<h1>Secret App</h1>
<h2>Found secret file o no</h2>
<p>this is bad news for the entire world wahahaaaaa</p>
<p>
    <a href="/">Home</a>
    <a href="/secret">Secrets</a>
</p>
<p>
    <a href="/register">Register</a>
    <a href="/login">Sign In</a>
    <a href="/logout">Logout</a>
</p>
