<div class="ui fixed inverted menu">
    <div class="ui container">
        <h1 class="header item">
            <a href="/"
                ><i class="code icon" style="font-size: 2rem;"></i>&ensp;The REST Blog</a>
        </h1>
        <!-- <a href="/" class="item">Home</a> -->
        <!-- <a href="/blogs/new" class="item">Make a new post!</a> -->
    </div>
</div>
