.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem; }

.grid--no-gutters {
  grid-gap: 0;
  padding: 0; }

.grid > * {
  grid-column: span 12; }

@media screen and (min-width: 0px) {
  .col-1 {
    grid-column: span 1; }
  .col-2 {
    grid-column: span 2; }
  .col-3 {
    grid-column: span 3; }
  .col-4 {
    grid-column: span 4; }
  .col-5 {
    grid-column: span 5; }
  .col-6 {
    grid-column: span 6; }
  .col-7 {
    grid-column: span 7; }
  .col-8 {
    grid-column: span 8; }
  .col-9 {
    grid-column: span 9; }
  .col-10 {
    grid-column: span 10; }
  .col-11 {
    grid-column: span 11; }
  .col-12 {
    grid-column: span 12; }
  .order-first {
    order: -1; }
  .order-0 {
    order: 0; }
  .order-1 {
    order: 1; }
  .order-2 {
    order: 2; }
  .order-3 {
    order: 3; }
  .order-4 {
    order: 4; }
  .order-5 {
    order: 5; }
  .order-6 {
    order: 6; }
  .order-7 {
    order: 7; }
  .order-8 {
    order: 8; }
  .order-9 {
    order: 9; }
  .order-10 {
    order: 10; }
  .order-11 {
    order: 11; }
  .order-12 {
    order: 12; }
  .order-last {
    order: 13; } }

@media screen and (min-width: 500px) {
  .col-sm-1 {
    grid-column: span 1; }
  .col-sm-2 {
    grid-column: span 2; }
  .col-sm-3 {
    grid-column: span 3; }
  .col-sm-4 {
    grid-column: span 4; }
  .col-sm-5 {
    grid-column: span 5; }
  .col-sm-6 {
    grid-column: span 6; }
  .col-sm-7 {
    grid-column: span 7; }
  .col-sm-8 {
    grid-column: span 8; }
  .col-sm-9 {
    grid-column: span 9; }
  .col-sm-10 {
    grid-column: span 10; }
  .col-sm-11 {
    grid-column: span 11; }
  .col-sm-12 {
    grid-column: span 12; }
  .order-sm-first {
    order: -1; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .order-sm-last {
    order: 13; } }

@media screen and (min-width: 800px) {
  .col-md-1 {
    grid-column: span 1; }
  .col-md-2 {
    grid-column: span 2; }
  .col-md-3 {
    grid-column: span 3; }
  .col-md-4 {
    grid-column: span 4; }
  .col-md-5 {
    grid-column: span 5; }
  .col-md-6 {
    grid-column: span 6; }
  .col-md-7 {
    grid-column: span 7; }
  .col-md-8 {
    grid-column: span 8; }
  .col-md-9 {
    grid-column: span 9; }
  .col-md-10 {
    grid-column: span 10; }
  .col-md-11 {
    grid-column: span 11; }
  .col-md-12 {
    grid-column: span 12; }
  .order-md-first {
    order: -1; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .order-md-last {
    order: 13; } }

@media screen and (min-width: 1100px) {
  .col-lg-1 {
    grid-column: span 1; }
  .col-lg-2 {
    grid-column: span 2; }
  .col-lg-3 {
    grid-column: span 3; }
  .col-lg-4 {
    grid-column: span 4; }
  .col-lg-5 {
    grid-column: span 5; }
  .col-lg-6 {
    grid-column: span 6; }
  .col-lg-7 {
    grid-column: span 7; }
  .col-lg-8 {
    grid-column: span 8; }
  .col-lg-9 {
    grid-column: span 9; }
  .col-lg-10 {
    grid-column: span 10; }
  .col-lg-11 {
    grid-column: span 11; }
  .col-lg-12 {
    grid-column: span 12; }
  .order-lg-first {
    order: -1; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .order-lg-last {
    order: 13; } }

@media screen and (min-width: 1400px) {
  .col-xl-1 {
    grid-column: span 1; }
  .col-xl-2 {
    grid-column: span 2; }
  .col-xl-3 {
    grid-column: span 3; }
  .col-xl-4 {
    grid-column: span 4; }
  .col-xl-5 {
    grid-column: span 5; }
  .col-xl-6 {
    grid-column: span 6; }
  .col-xl-7 {
    grid-column: span 7; }
  .col-xl-8 {
    grid-column: span 8; }
  .col-xl-9 {
    grid-column: span 9; }
  .col-xl-10 {
    grid-column: span 10; }
  .col-xl-11 {
    grid-column: span 11; }
  .col-xl-12 {
    grid-column: span 12; }
  .order-xl-first {
    order: -1; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .order-xl-last {
    order: 13; } }

@media screen and (min-width: 0px) {
  .display-none {
    display: none; }
  .display-inline {
    display: inline; }
  .display-inline-block {
    display: inline-block; }
  .display-block {
    display: block; } }

@media screen and (min-width: 500px) {
  .display-sm-none {
    display: none; }
  .display-sm-inline {
    display: inline; }
  .display-sm-inline-block {
    display: inline-block; }
  .display-sm-block {
    display: block; } }

@media screen and (min-width: 800px) {
  .display-md-none {
    display: none; }
  .display-md-inline {
    display: inline; }
  .display-md-inline-block {
    display: inline-block; }
  .display-md-block {
    display: block; } }

@media screen and (min-width: 1100px) {
  .display-lg-none {
    display: none; }
  .display-lg-inline {
    display: inline; }
  .display-lg-inline-block {
    display: inline-block; }
  .display-lg-block {
    display: block; } }

@media screen and (min-width: 1400px) {
  .display-xl-none {
    display: none; }
  .display-xl-inline {
    display: inline; }
  .display-xl-inline-block {
    display: inline-block; }
  .display-xl-block {
    display: block; } }

@media screen and (min-width: 0px) {
  .align-items-auto {
    align-items: auto; }
  .align-items-normal {
    align-items: normal; }
  .align-items-start {
    align-items: start; }
  .align-items-end {
    align-items: end; }
  .align-items-center {
    align-items: center; }
  .align-items-stretch {
    align-items: stretch; }
  .align-items-baseline {
    align-items: baseline; }
  .justify-items-auto {
    justify-items: auto; }
  .justify-items-normal {
    justify-items: normal; }
  .justify-items-start {
    justify-items: start; }
  .justify-items-end {
    justify-items: end; }
  .justify-items-center {
    justify-items: center; }
  .justify-items-stretch {
    justify-items: stretch; }
  .justify-items-baseline {
    justify-items: baseline; }
  .align-content-normal {
    align-content: normal; }
  .align-content-start {
    align-content: start; }
  .align-content-end {
    align-content: end; }
  .align-content-center {
    align-content: center; }
  .align-content-stretch {
    align-content: stretch; }
  .align-content-around {
    align-content: space-around; }
  .align-content-between {
    align-content: space-between; }
  .align-content-evenly {
    align-content: space-evenly; }
  .align-content-baseline {
    align-content: baseline; }
  .justify-content-normal {
    justify-content: normal; }
  .justify-content-start {
    justify-content: start; }
  .justify-content-end {
    justify-content: end; }
  .justify-content-center {
    justify-content: center; }
  .justify-content-stretch {
    justify-content: stretch; }
  .justify-content-around {
    justify-content: space-around; }
  .justify-content-between {
    justify-content: space-between; }
  .justify-content-evenly {
    justify-content: space-evenly; }
  .justify-content-baseline {
    justify-content: baseline; }
  .align-self-auto {
    align-self: auto; }
  .align-self-normal {
    align-self: normal; }
  .align-self-start {
    align-self: start; }
  .align-self-end {
    align-self: end; }
  .align-self-center {
    align-self: center; }
  .align-self-stretch {
    align-self: stretch; }
  .align-self-baseline {
    align-self: baseline; }
  .justify-self-auto {
    justify-self: auto; }
  .justify-self-normal {
    justify-self: normal; }
  .justify-self-start {
    justify-self: start; }
  .justify-self-end {
    justify-self: end; }
  .justify-self-center {
    justify-self: center; }
  .justify-self-stretch {
    justify-self: stretch; }
  .justify-self-baseline {
    justify-self: baseline; } }

@media screen and (min-width: 500px) {
  .align-items-sm-auto {
    align-items: auto; }
  .align-items-sm-normal {
    align-items: normal; }
  .align-items-sm-start {
    align-items: start; }
  .align-items-sm-end {
    align-items: end; }
  .align-items-sm-center {
    align-items: center; }
  .align-items-sm-stretch {
    align-items: stretch; }
  .align-items-sm-baseline {
    align-items: baseline; }
  .justify-items-sm-auto {
    justify-items: auto; }
  .justify-items-sm-normal {
    justify-items: normal; }
  .justify-items-sm-start {
    justify-items: start; }
  .justify-items-sm-end {
    justify-items: end; }
  .justify-items-sm-center {
    justify-items: center; }
  .justify-items-sm-stretch {
    justify-items: stretch; }
  .justify-items-sm-baseline {
    justify-items: baseline; }
  .align-content-sm-normal {
    align-content: normal; }
  .align-content-sm-start {
    align-content: start; }
  .align-content-sm-end {
    align-content: end; }
  .align-content-sm-center {
    align-content: center; }
  .align-content-sm-stretch {
    align-content: stretch; }
  .align-content-sm-around {
    align-content: space-around; }
  .align-content-sm-between {
    align-content: space-between; }
  .align-content-sm-evenly {
    align-content: space-evenly; }
  .align-content-sm-baseline {
    align-content: baseline; }
  .justify-content-sm-normal {
    justify-content: normal; }
  .justify-content-sm-start {
    justify-content: start; }
  .justify-content-sm-end {
    justify-content: end; }
  .justify-content-sm-center {
    justify-content: center; }
  .justify-content-sm-stretch {
    justify-content: stretch; }
  .justify-content-sm-around {
    justify-content: space-around; }
  .justify-content-sm-between {
    justify-content: space-between; }
  .justify-content-sm-evenly {
    justify-content: space-evenly; }
  .justify-content-sm-baseline {
    justify-content: baseline; }
  .align-self-sm-auto {
    align-self: auto; }
  .align-self-sm-normal {
    align-self: normal; }
  .align-self-sm-start {
    align-self: start; }
  .align-self-sm-end {
    align-self: end; }
  .align-self-sm-center {
    align-self: center; }
  .align-self-sm-stretch {
    align-self: stretch; }
  .align-self-sm-baseline {
    align-self: baseline; }
  .justify-self-sm-auto {
    justify-self: auto; }
  .justify-self-sm-normal {
    justify-self: normal; }
  .justify-self-sm-start {
    justify-self: start; }
  .justify-self-sm-end {
    justify-self: end; }
  .justify-self-sm-center {
    justify-self: center; }
  .justify-self-sm-stretch {
    justify-self: stretch; }
  .justify-self-sm-baseline {
    justify-self: baseline; } }

@media screen and (min-width: 800px) {
  .align-items-md-auto {
    align-items: auto; }
  .align-items-md-normal {
    align-items: normal; }
  .align-items-md-start {
    align-items: start; }
  .align-items-md-end {
    align-items: end; }
  .align-items-md-center {
    align-items: center; }
  .align-items-md-stretch {
    align-items: stretch; }
  .align-items-md-baseline {
    align-items: baseline; }
  .justify-items-md-auto {
    justify-items: auto; }
  .justify-items-md-normal {
    justify-items: normal; }
  .justify-items-md-start {
    justify-items: start; }
  .justify-items-md-end {
    justify-items: end; }
  .justify-items-md-center {
    justify-items: center; }
  .justify-items-md-stretch {
    justify-items: stretch; }
  .justify-items-md-baseline {
    justify-items: baseline; }
  .align-content-md-normal {
    align-content: normal; }
  .align-content-md-start {
    align-content: start; }
  .align-content-md-end {
    align-content: end; }
  .align-content-md-center {
    align-content: center; }
  .align-content-md-stretch {
    align-content: stretch; }
  .align-content-md-around {
    align-content: space-around; }
  .align-content-md-between {
    align-content: space-between; }
  .align-content-md-evenly {
    align-content: space-evenly; }
  .align-content-md-baseline {
    align-content: baseline; }
  .justify-content-md-normal {
    justify-content: normal; }
  .justify-content-md-start {
    justify-content: start; }
  .justify-content-md-end {
    justify-content: end; }
  .justify-content-md-center {
    justify-content: center; }
  .justify-content-md-stretch {
    justify-content: stretch; }
  .justify-content-md-around {
    justify-content: space-around; }
  .justify-content-md-between {
    justify-content: space-between; }
  .justify-content-md-evenly {
    justify-content: space-evenly; }
  .justify-content-md-baseline {
    justify-content: baseline; }
  .align-self-md-auto {
    align-self: auto; }
  .align-self-md-normal {
    align-self: normal; }
  .align-self-md-start {
    align-self: start; }
  .align-self-md-end {
    align-self: end; }
  .align-self-md-center {
    align-self: center; }
  .align-self-md-stretch {
    align-self: stretch; }
  .align-self-md-baseline {
    align-self: baseline; }
  .justify-self-md-auto {
    justify-self: auto; }
  .justify-self-md-normal {
    justify-self: normal; }
  .justify-self-md-start {
    justify-self: start; }
  .justify-self-md-end {
    justify-self: end; }
  .justify-self-md-center {
    justify-self: center; }
  .justify-self-md-stretch {
    justify-self: stretch; }
  .justify-self-md-baseline {
    justify-self: baseline; } }

@media screen and (min-width: 1100px) {
  .align-items-lg-auto {
    align-items: auto; }
  .align-items-lg-normal {
    align-items: normal; }
  .align-items-lg-start {
    align-items: start; }
  .align-items-lg-end {
    align-items: end; }
  .align-items-lg-center {
    align-items: center; }
  .align-items-lg-stretch {
    align-items: stretch; }
  .align-items-lg-baseline {
    align-items: baseline; }
  .justify-items-lg-auto {
    justify-items: auto; }
  .justify-items-lg-normal {
    justify-items: normal; }
  .justify-items-lg-start {
    justify-items: start; }
  .justify-items-lg-end {
    justify-items: end; }
  .justify-items-lg-center {
    justify-items: center; }
  .justify-items-lg-stretch {
    justify-items: stretch; }
  .justify-items-lg-baseline {
    justify-items: baseline; }
  .align-content-lg-normal {
    align-content: normal; }
  .align-content-lg-start {
    align-content: start; }
  .align-content-lg-end {
    align-content: end; }
  .align-content-lg-center {
    align-content: center; }
  .align-content-lg-stretch {
    align-content: stretch; }
  .align-content-lg-around {
    align-content: space-around; }
  .align-content-lg-between {
    align-content: space-between; }
  .align-content-lg-evenly {
    align-content: space-evenly; }
  .align-content-lg-baseline {
    align-content: baseline; }
  .justify-content-lg-normal {
    justify-content: normal; }
  .justify-content-lg-start {
    justify-content: start; }
  .justify-content-lg-end {
    justify-content: end; }
  .justify-content-lg-center {
    justify-content: center; }
  .justify-content-lg-stretch {
    justify-content: stretch; }
  .justify-content-lg-around {
    justify-content: space-around; }
  .justify-content-lg-between {
    justify-content: space-between; }
  .justify-content-lg-evenly {
    justify-content: space-evenly; }
  .justify-content-lg-baseline {
    justify-content: baseline; }
  .align-self-lg-auto {
    align-self: auto; }
  .align-self-lg-normal {
    align-self: normal; }
  .align-self-lg-start {
    align-self: start; }
  .align-self-lg-end {
    align-self: end; }
  .align-self-lg-center {
    align-self: center; }
  .align-self-lg-stretch {
    align-self: stretch; }
  .align-self-lg-baseline {
    align-self: baseline; }
  .justify-self-lg-auto {
    justify-self: auto; }
  .justify-self-lg-normal {
    justify-self: normal; }
  .justify-self-lg-start {
    justify-self: start; }
  .justify-self-lg-end {
    justify-self: end; }
  .justify-self-lg-center {
    justify-self: center; }
  .justify-self-lg-stretch {
    justify-self: stretch; }
  .justify-self-lg-baseline {
    justify-self: baseline; } }

@media screen and (min-width: 1400px) {
  .align-items-xl-auto {
    align-items: auto; }
  .align-items-xl-normal {
    align-items: normal; }
  .align-items-xl-start {
    align-items: start; }
  .align-items-xl-end {
    align-items: end; }
  .align-items-xl-center {
    align-items: center; }
  .align-items-xl-stretch {
    align-items: stretch; }
  .align-items-xl-baseline {
    align-items: baseline; }
  .justify-items-xl-auto {
    justify-items: auto; }
  .justify-items-xl-normal {
    justify-items: normal; }
  .justify-items-xl-start {
    justify-items: start; }
  .justify-items-xl-end {
    justify-items: end; }
  .justify-items-xl-center {
    justify-items: center; }
  .justify-items-xl-stretch {
    justify-items: stretch; }
  .justify-items-xl-baseline {
    justify-items: baseline; }
  .align-content-xl-normal {
    align-content: normal; }
  .align-content-xl-start {
    align-content: start; }
  .align-content-xl-end {
    align-content: end; }
  .align-content-xl-center {
    align-content: center; }
  .align-content-xl-stretch {
    align-content: stretch; }
  .align-content-xl-around {
    align-content: space-around; }
  .align-content-xl-between {
    align-content: space-between; }
  .align-content-xl-evenly {
    align-content: space-evenly; }
  .align-content-xl-baseline {
    align-content: baseline; }
  .justify-content-xl-normal {
    justify-content: normal; }
  .justify-content-xl-start {
    justify-content: start; }
  .justify-content-xl-end {
    justify-content: end; }
  .justify-content-xl-center {
    justify-content: center; }
  .justify-content-xl-stretch {
    justify-content: stretch; }
  .justify-content-xl-around {
    justify-content: space-around; }
  .justify-content-xl-between {
    justify-content: space-between; }
  .justify-content-xl-evenly {
    justify-content: space-evenly; }
  .justify-content-xl-baseline {
    justify-content: baseline; }
  .align-self-xl-auto {
    align-self: auto; }
  .align-self-xl-normal {
    align-self: normal; }
  .align-self-xl-start {
    align-self: start; }
  .align-self-xl-end {
    align-self: end; }
  .align-self-xl-center {
    align-self: center; }
  .align-self-xl-stretch {
    align-self: stretch; }
  .align-self-xl-baseline {
    align-self: baseline; }
  .justify-self-xl-auto {
    justify-self: auto; }
  .justify-self-xl-normal {
    justify-self: normal; }
  .justify-self-xl-start {
    justify-self: start; }
  .justify-self-xl-end {
    justify-self: end; }
  .justify-self-xl-center {
    justify-self: center; }
  .justify-self-xl-stretch {
    justify-self: stretch; }
  .justify-self-xl-baseline {
    justify-self: baseline; } }
