*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

main.main {
    margin: 8rem auto 4rem !important;
}

.show-post img {
    margin-bottom: 1rem;
}

.show-post .content {
    margin-bottom: 1rem;
}




.blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* https://gridbyexample.com/examples/example28/ */
    gap: 2rem;
    margin: 2rem 0;
}

.blog-card {
    position: relative;
    max-width: 300px;
    box-shadow: 0 .25rem .5rem #777;
}

.blog-card__content {
    padding: .5rem;
    word-break: break-all;
}

.blog-card__content h3 {
    margin-bottom: 0;
}

.blog-card a::after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    cursor: pointer;
}