<%- include('partials/header') %>

<%- include('partials/navbar') %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to <a href="/">YelpCamp</a></h1>
        <p>
            You can view our collection of user-added campgrounds or add your
            own.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="/campgrounds"
                >View Campgrounds</a
            >
            <a class="btn btn-lg btn-primary" href="/campgrounds/new"
                >Add New Campground</a
            >
        </p>
    </div>
</header>

<main></main>

<%- include('partials/footer') %>
